/* src/App.css */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
}

header {
  background: linear-gradient(to right, #007bff, #6610f2);
}

header img {
  border: 5px solid #fff;
}

section {
  padding: 60px 0;
}

.bg-dark {
  background-color: #343a40 !important;
}

.bg-light {
  background-color: #f8f9fa !important;
}

a {
  color: #007bff;
}

a:hover {
  color: #0056b3;
}
